body {
  padding-top: 70px;
}

.match_history .history-field{
  max-height: 280px;
  overflow: scroll;
}

#own img{
  height: 200px;
  margin: 0 auto;
  width: auto;
}

#enemy img {
	height: 200px;
	margin: 0 auto;
	width: auto;
}

.janken {
	height: 100px;
	width: auto;
}

.damage {
	position: absolute;
	top: 10px;
	left: 200px;
	h4 {
		font-size: 52px;
-webkit-text-stroke-color: #000;
-webkit-text-stroke-width: 4px;
text-shadow: black 2px 2px 0px, black -2px 2px 0px,
             black 2px -2px 0px, black -2px -2px 0px;
	}
}