body {
  padding-top: 70px;
}

.match_history .history-field{
  max-height: 280px;
  overflow: scroll;
}

#own img{
  height: 200px;
  margin: 0 auto;
  width: auto;
}

#enemy img {
	height: 200px;
	margin: 0 auto;
	width: auto;
}